@tailwind base;
body {
    font-size: 18px;
    line-height: 1.75;
}
.btn-primary {
    background-color: #003366;
}
.hero-banner {
    background: url('/images/hero-parchment.webp') no-repeat center center;
    background-size: cover;
}
h1.leading-relaxed {
    line-height: 1.4 !important;
}
.drop-cap {
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 6rem;
    float: left;
    line-height: 1;
    margin-right: 12px;
    margin-top: 5px;
    color: #D4AF37;
    text-indent: -5px;
}
.max-w-md {
    max-width: 36rem !important;
}
.prose p {
    margin-bottom: 1rem;
}
.prose.text-justify {
    hyphens: auto;
}
@tailwind components;
@tailwind utilities;
