@tailwind base;
body {
    font-size: 18px;
    line-height: 1.75;
}
.btn-green {
    background-color: rgb(16, 94, 45) !important;
}

.btn-green:hover {
    background-color: rgb(12, 80, 38) !important;
}
.hero-banner {
    background: url('/images/hero-parchment.webp') no-repeat center center;
    background-size: cover;
}
.text-black {
    color: black;
}
h1.leading-relaxed {
    line-height: 1.4 !important;
}
@tailwind components;
@tailwind utilities;
